body, h1, h2, h3, h4, h5, h6, a, p {
    font-family: 'Abel', sans-serif;
}

.upssf-cover {
  background-image: url('../images/visayascinematicvintage.jpg');
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background-position: center top;
  background-size: cover;
  text-shadow: 2px 2px #2f2f2f;
}