.Home-link {
    color: #61dafb;
}

/* .scholar-heading {
    margin: auto;
} */

/* .scholars-text, .board-members-text {
    font-size: 1.8rem;
    line-height: 2;
} */

.scholar-img {
    /* width: 0 auto; */
    width: 16rem;
    height: 16rem;
    background-image: linear-gradient(
      rgba(34, 34, 34, 0.265),
      rgba(8, 8, 8, 0)
    ),
    url("../images/scholar-daradal.jpg");
  background-position: center top;
  background-size: cover;
  border-radius: 50%;
}

.scholar-p {
  font-size: 1.5rem;
}
.line-height-1 {
  line-height: 2.5;
}
